.loginContainer {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-block-end: auto;
  margin-block-start: auto;
  width: 100%;
  direction: rtl;
  margin-bottom: 15%;
}

.login {
  position: relative;
  width: 700px;
  height: 670px;
  text-align: center;
  top: 70px;
  background-color: rgba(236, 236, 236, 0.31);
  border-radius: 16px;
  box-shadow: 0px 18.21px 52.8px rgba(40, 43, 111, 0.2);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.mediatorsButton {
  position: absolute;
  margin-top: 5%;
  margin-right: 27%;
  font-weight: 700;
  width: 135px;
  height: 35px;
  font-size: 16.5px;
  background-color: #f9fff9;
  box-shadow: 0px 18.21px 52.8px rgba(40, 43, 111, 0.2);
  color: #000000;
  border-color: transparent;
  border-radius: 8px;
  text-align: center;
}

.login h1 {
  text-align: right;
  margin-right: 8%;
  margin-top: 8%;
  font-size: 26px;
}

.email {
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 20px;
}

.email>input {
  width: 45%;
  height: 46px;
  font-weight: 700;
  background-color: transparent;
  box-sizing: border-box;
  border: none;
  border: 2px solid rgb(187, 187, 187);
  background-color: #ffffff;
  border-radius: 6px;
  font-size: 18px;
  margin-top: 12%;

}

.password>input {
  width: 45%;
  height: 46px;
  font-weight: 700;
  box-sizing: border-box;
  border: none;
  border: 2px solid rgb(187, 187, 187);
  background-color: #ffffff;
  border-radius: 6px;
  font-size: 18px;
}

.forgetPassword {
  margin-left: 25.5%;
  margin-top: 2%;
}

.textForgetPassword {
  background-color: transparent;
  border: none;
  font-size: 18.2px;
  font-weight: 700;
  color: #000000;
}

.textLogin {
  width: 32%;
  height: 55px;
  font-weight: 600;
  font-size: 23px;
  background-color: #000000;
  color: #ffffff;
  border-color: transparent;
  border-radius: 8px;
  margin-top: 5%;
}

.textSocialButton {
  width: 200px;
  height: 55px;
  font-weight: 500;
  font-size: 23px;
  background-color: #f9faff;
  box-shadow: 0 5px 6px 0 rgb(0 0 0 / 10%);
  color: #000000;
  border-color: transparent;
  border-radius: 8px;
  margin-top: 5%;
  text-align: right;
}

.socialIcons img {
  position: absolute;
  width: 30px;
  height: 30px;
  margin-right: 20%;
}

::-webkit-input-placeholder {
  /* Edge */
  padding: 10px;
}

.registerButton {
  width: 32%;
  height: 45px;
  font-weight: 600;
  font-size: 23px;
  background-color: #657cec;
  box-shadow: 0 5px 6px 0 rgb(0 0 0 / 10%);
  color: #ffffff;
  border-color: transparent;
  border-radius: 8px;
  margin-top: 8.5%;
  text-align: center;
}