
.resetPassword-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 18.21px 52.8px rgba(40, 43, 111, 0.2);   
    padding: 40px;
    max-width: 600px;
    margin: 0 auto;
    margin-top: 4%;
    margin-bottom: 15%;
  }
  
  .resetPassword-form {
    display: flex;
    flex-direction: column;
  }
  
  .resetPassword-heading {
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .resetPassword-input {
    border: none;
    border-radius: 4px;
    padding: 10px;
    direction: rtl;
    width: 100%;
    background-color: #F4F7FC !important;
    outline: none;
    font-size: 18px;
  }
  .resetPassword-input-group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  
  .resetPassword-submit-button {
    background-color: #5E63E4;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: 500;
    margin: auto;
    cursor: pointer;
    margin-top: 20px;
    width: 60%;
    text-align: center;
  }
  
  .resetPassword-submit-button:hover {
    background-color: #0077b6;
  }
  
  /* Optional: Add media queries to adjust layout for smaller screens */
  @media (max-width: 768px) {
 

    .resetPassword-submit-button {
      font-size: 16px;
    }
  }

  .resetPassword-input-group-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background-color: #f4f7fc;
    border-radius: 8px;
    padding: 1%;
  }
  .resetPassword-input-group-wrapper svg{
    margin-right: 14px;
    fill: #ccc;
    margin-bottom: -2px;
  }