.private{
    display: flex;
    flex-direction: column;
}
.private-main{
    display: flex;
    margin-top: 70px;
    padding: 3%;
}
.privateContent{
    width: 70%;
    margin: auto;
}
.private-header{
    height: 300px;
    width: 100%;
    background-color: #5E72E4;
    position: absolute;
    z-index: -1;
}