.accordion {
    border: 0px solid #ddd;
    border-radius: 5px;
    margin-bottom: 20px;
    direction: rtl;
    width: 600px;
    font-weight: 700;
    font-size: 20px;
  }
  
  .accordion-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    background-color: #ffffff;
    box-shadow: 0px 18.2059px 52.7971px rgba(40, 43, 111, 0.08);
    cursor: pointer;
  }
  
  .accordion-header:hover {
    background-color: #f0f0f0;
  }
  
  .accordion-content {
    padding: 10px 0px 10px 10px;
    background-color: #fafafa;
    color: #0165E1;
    font-weight: 500;
  }