.realstatePage2{
    display: flex;
    justify-content: center;
    align-items: end;
    flex-direction: column;
    width: 100%;
    margin: auto;
}
.realstatePage2 h1{
    margin-bottom: 3%;
}
.realstatePage2-div{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    box-shadow: 0px 18.21px 52.8px rgba(40, 43, 111, 0.2);   
    height: 400px;
    border-radius: 8px;
}
.realstatePage2 .partners, .realstatePage2 .commercial, .realstatePage2 .renting, .realstatePage2 .sale{
    width: 20%;
    margin: auto;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    box-shadow: 0px 18.21px 52.8px rgba(40, 43, 111, 0.2);   
}
.realstatePage2-div div:hover{
    background-color: #5E63E4;
    color: white;
}