.dailyTask-table {
    width: 100%;
    margin: 0 auto;
    padding: 2%;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0px 18.21px 52.8px rgba(40, 43, 111, 0.2);   
    margin-top: 3%;
  }
  
  .dailyTask-table__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }
  .dailyTask-table__header p{
    width: 100%;
    text-align: end;
    font-size: 20px;
  }
  .dailyTask-table__header label {
    font-weight: bold;
    direction: rtl;
  }
  
  .dailyTask-table__header select {
    font-size: 16px;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    background-color: transparent;
    outline: none;
  }
  
  .dailyTask-table__table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    direction: rtl;
  }
  
  .dailyTask-table__table th,
  .dailyTask-table__table td {
    padding: 10px;
    border-bottom: 1px solid #ccc;
    border-radius: 0% !important;
  }
  .dailyTask-table__table th{
    background-color: #FAFAFA;
  }
  .dailyTask-table__table th {
    font-weight: bold;
    text-align: start;
  }
  .dailyTask-table__table tr{
    height: 70px;
  }
  .completed{
    color: #2BBF80;
  }